{% extends "home/base.html" %}
{% block content %}
<section class="section-title row-module">
	<div class="row">
        <div class="col12 prefix1">
        <a name="que"></a>
          	<div class="heading acenter">
            	<h1>Qué es Mapa de Medios</h1>
              <h2>El Mapa de Medios de Poderopedia es la más completa base de datos pública y gratuita de medios y propietarios de medios de Chile y Colombia. Incluye información de Grupos de Medios, leyes relativas a medios y las fuentes utilizadas en su elaboración. Su fin es promover una mayor transparencia en la industria y servir de fuente de consulta a la ciudadanía.</h2>
          	</div>
       	</div>
    </div>
</section>
          
<section class="section-article list row-module">
    <div class="row">
        <aside class="col3">
          <nav class="nav-aside">
            <!--<ul>
              <li><a href="#que">Qué es Mapa de Medios</a></li>
              <li><a href="#quienes">Quiénes trabajaron</a></li>
              <li><a href="#opendata">Datos Abiertos</a></li>
              <li><a href="#como">Cómo se hizo</a></li>
            </ul>-->
          </nav>
        </aside>

        <div class="col12 prefix1">
          <div class="post">
            <div class="post-body text">
              <p>Porque los Medios de Comunicación son los primeros en exigir transparencia pero son reticentes a transparentar su estructura de propiedad e intereses, <a href="http://www.poderopedia.com">Poderopedia</a> investigó quiénes son los dueños de los medios en Chile y Colombia y creó el Mapa de Medios, el sitio web que contiene la más completa base de datos pública y gratuita de medios de comunicación de ambos países, así como datos de quiénes son sus propietarios, socios, directores y ejecutivos.</p>


<p>La investigación, llevada a cabo entre diciembre de 2014 y agosto de 2015 por los equipos periodísticos de Poderopedia Chile y Poderopedia Colombia, a partir de datos públicos, consultas a medios y organismos regulatorios, entrevistas y encuentros con académicos, expertos, periodistas y programadores, permitió recopilar información de 34 grupos de medios, 300 propietarios y más de 700 medios de comunicación en total.</p> 

<p>En el proceso, los equipos de Poderopedia de ambos países, indagaron un amplio y detallado conjunto de datos sobre empresas, organizaciones y personas dueñas de medios de comunicación, intentando develar a través de esta plataforma posibles conexiones políticas, concentraciones mediáticas, y cuáles son las organizaciones y personas que influyen en la legislación de medios.</p>

<p>Además de la escasa cultura de transparencia en los medios de comunicación y el difícil acceso a datos del sector, Poderopedia encontró - con leves diferencias en ambos países - que la mayor parte de la producción informativa que tiene cobertura nacional y que logra los niveles más altos de recepción, principalmente en radio y televisión, está en manos de grandes conglomerados económicos que tienen intereses en infraestructura, la industria de alimentos y bebidas, bancos, retail, servicios públicos y vivienda, entre otros.</p>
 

  <h4>TRANSPARENCIA PARA TODOS</h4>


<p>El Mapa de Medios es una radiografía de la industria de medios, susceptible de ser ampliada y actualizada, con la información que los propios medios, investigadores y ciudadanos colaboren a actualizar.</p> 

<p>Su objetivo es proporcionar información clara de quién es dueño de qué en las industrias de medios de ambas naciones, promover la transparencia y la divulgación de los vínculos entre grupos de medios de comunicación y otros grupos de interés; sirviendo de herramienta de trabajo de hacedores de políticas públicas, investigadores, académicos, periodistas y ciudadanos, así como para la propia labor de las industrias de medios y de publicidad.</p> 


  <h4>DATOS ABIERTOS Y CÓMO USARLOS</h4>


<p>Junto a la base de datos - que podrás descargar gratuitamente en varios formatos en la sección “Datos” - incluimos una serie de gráficos y reportes con datos de cada país; un registro de las leyes relativas a propiedad de medios, ejercicio del Periodismo y la libertad de expresión; y las fuentes y metodología ocupadas para la elaboración de la base de datos.</p>

<p>También, para los medios, organizaciones y profesionales que quieran hacer análisis, visualizaciones y aplicaciones de investigación y noticias con los datos, el Mapa de Medios ofrece una API que suministra datos abiertos estructurados.</p>

<p>Pensando en quienes deseen elaborar sus propios proyectos de investigación sobre medios, en el apartado de “Metodología” ofrecemos una guía explicativa de cómo hacer un proyecto como este, y en la sección de “Código” liberamos el código fuente de la aplicación para quienes quieran re-usarlo.</p>




  <h4>CRÉDITOS Y RECONOCIMIENTOS</h4>


<p>La investigación para el Mapa de Medios consideró el trabajo simultáneo de equipos periodísticos en Chile y Colombia: Fundación Poderomedia con su equipo de Poderopedia Chile y Consejo de Redacción con su equipo de Poderopedia Colombia.</p> 

<p>La coordinación general del Mapa de Medios fue realizada por Miguel Paz.</p> 

<p>El equipo de trabajo en Chile estuvo compuesto por Paola Mosso (coordinadora), Felipe Perry (responsable de la base de datos general, desarrollo e investigador principal), Mónica Ventura (periodista investigadora, chequeo de datos y edición), Alvaro Q. (diseño y front end development).</p> 
 
<p>Por su parte, en Colombia el equipo de trabajo, al alero de Consejo de Redacción, que ejecutó la investigación fue integrado por Miriam Forero Ariza (coordinadora del proyecto), Mónica Vargas Salcedo (responsable de investigación), Óscar Felipe Agudelo (periodista investigador) y Diego Legrand Pérez (periodista investigador).</p>

<p>Este proyecto se realizó gracias al apoyo de la <a href="https://www.opensocietyfoundations.org/">Open Society Foundations</a> y la colaboración de las universidades <a href="http://www.uahurtado.cl/">Alberto Hurtado de Chile</a> y <a href="http://www.javeriana.edu.co/home#.Vei5t2R_NHw">Javeriana de Colombia</a>.</p> 

<p>También contó con el aporte invaluable de verificación de información de profesionales del mundo periodístico y académico.</p>
 
<p>Si te interesa contribuir de alguna forma o proponer nuevos países a incluir en el Mapa de Medios, escríbenos a través del formulario de <a href="http://apps.poderopedia.org/mapademedios/contacto/">Contacto</a>.</p> 

              

              

            </div>
        </div>
      </div>
    </div>

</section>    

{% endblock %}

