{% extends "home/base.html" %}
{% block content %}
<section class="section-title row-module">
  <div class="row">
        <div class="col16">
            <div class="heading acenter">
              <h1>¡Gracias!</h1>
              <h2>Toda la información que envían nuestros usuarios es útil. Verificaremos los datos que nos entregaste y los incluiremos en la base de datos de Mapa de Medios. Si deseas contactarte con nosotros para hacer comentarios, proponer o criticar, no dudes en <a href="{% url 'home:contacto' %}">escribir.</a></h2>
            </div>
        </div>
  </div>
</section>


{% endblock %}

