{% extends "home/base.html" %}
{% block content %}
<section class="section-title row-module">
  <div class="row">
        <div class="col16">
        <a name="que"></a>
            <div class="heading acenter">
              <h1>Privacidad</h1>
            </div>
        </div>
  </div>
</section>

<section class="section-article list row-module">
    <div class="row">
        <aside class="col3">
          <nav class="nav-aside">
            <ul>
              <li><a href="#que">Privacidad</a></li>
              <li><a href="#quienes">Aspectos legales</a></li>
              <li><a href="#como">Uso de la información</a></li>
            </ul>
          </nav>
        </aside>

        <div class="col12 prefix1">

          <div class="post">
          <div class="post-body text">
            <p>El Mapa de Medios de Chile y Colombia es una radiografía, susceptible de ser ampliada y actualizada, sobre la industria de medios en estos países, sus dueños, actores que inciden en las políticas públicas y la legislación sobre los medios de comunicación.</p>
            <p>La iniciativa tuvo como objetivo investigar y reunir un amplio y detallado conjunto de datos sobre empresas, organizaciones y personas dueñas de los medios de comunicación en estos países, intentando develar a su vez conexiones políticas, posibles concentraciones mediáticas, marco regulatorio y organizaciones y personas que influyen en la legislación de los medios, con el fin de proporcionar un informe claro de quién es dueño de qué en el industria de los medios en ambas naciones, promover la transparencia y la divulgación de los vínculos entre grupos de medios de comunicación y otros grupos de interés.</p>
            <p>A su vez, esta iniciativa hizo un levantamiento de la legislación y políticas públicas relativas a la industria de medios y el periodismo en los países mencionados; e investigó cuáles son los principales actores de influencia sobre la regulación de los medios de comunicación, sean estos actores individuos u organizaciones.</p> 
            <p>Mapa de Medios además centró su esfuerzo en el suministro de datos abiertos estructurados que pueden ser utilizados como recursos para visualizaciones de datos, infografías, aplicaciones de noticias y de investigación.</p>

            <a name="quienes"></a>

            <a name="como"></a>
            
          </div>
          </div>

        </div>
    </div>
</section>    

{% endblock %}

