{% extends "medioscolombia/base.html" %}
{% block content %}
<section class="section-title row-module row-module-s-bottom">
    <div class="row">
      <div class="col16">
        <div class="heading acenter">
          <h1>Dueños o Empresas Controladoras</h1>
          <h2>Tenemos registradas {{ propietarios_list.count }} Empresas que controlan medios de comunicación en Colombia. Conoce la metodología usada para esta investigación y <a href="#">descarga los datos</a>.</h2>
        </div>
      </div>
    </div>
</section>

<section class="row-module row-module-s-top">
    <div class="row">
      <div class="col16">

        <!-- <div class="pager-info">
          <span class="right">Descargar: <a href="#">CSV</a>, <a href="#">XLS</a>, <a href="#">JSON</a></span>
        </div> -->

<table id="TablaLista" class="display" width="100%" cellspacing="0">

    <thead>
    <tr>
    <th width="33%" align="left">Nombre</th>
    <th width="33%" align="left">Tipo de Sociedad</th>
    <th width="33%" align="left">Presidente Directorio</th>
    </tr>
    </thead>

    <tbody>
    {% for propietario in propietarios_list %}
        <tr>
        <td><a href="{{ propietario.pk }}">{{ propietario.propietario | default:"No hay información" }}</a></td>
        <td>{{ propietario.tiposociedad | default:"No hay información" }}</td>
        <td>{{ propietario.presidentedirectorio | default:"No hay información" }}</td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="5">
            </td>
        </tr>
    </tfoot>
    </table>
      </div>
    </div>
</section>

{% endblock %}